@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
   @foreach (var item in Model){
       <div class="col-3">
            <div class="card my-2 movie-card" >
                <a class="a-cleanup" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImageUrl"  class="card-img-top card-img-custom">
                </a>
                <div class="card-body">
                    <h5 class="mb-3">
                        @item.Name
                        <span class="card-text">@item.Price $</span>

                    </h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-primary float-right movie-btn"><i class="fa-solid fa-cart-plus"></i></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary float-right movie-btn"> <i class=" bi bi-pencil-square"></i></a>
                    }
                </div>

            </div>
        </div>
   }
</div>
@if (User.IsInRole("Admin")){
<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
        <a asp-controller="Movies" asp-action="Create" class="btn btn-primary float-right movie-btn">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>
}